.container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Left-aligned container */
.left-container {
  margin-right: 0;
  padding-right: 0;
}

/* Right-aligned container */
.right-container {
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .left-container {
    margin-left: calc((100% - 720px) / 2);
  }

  .right-container {
    margin-right: calc((100% - 720px) / 2);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 992px;
  }

  .left-container {
    margin-left: calc((100% - 992px) / 2);
  }

  .right-container {
    margin-right: calc((100% - 992px) / 2);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px !important;
  }

  .left-container {
    margin-left: calc((100% - 1100px) / 2);
  }

  .right-container {
    margin-right: calc((100% - 1100px) / 2);
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px !important;
  }

  .left-container {
    margin-left: calc((100% - 1280px) / 2);
  }

  .right-container {
    margin-right: calc((100% - 1280px) / 2);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1500px !important;
  }

  .left-container {
    margin-left: calc((100% - 1400px) / 2);
  }

  .right-container {
    margin-right: calc((100% - 1400px) / 2);
  }
}
