@theme {
  --color-primary-50: #ff9500;
  --color-primary-70: #ffbf66;
  --color-primary-75: #ffca80;
  --color-primary-80: #ffd499;
  --color-primary-90: #ffeacc;
  --color-primary-95: #fff4e5;
  --color-primary-97: #fff8ed;
  --color-primary-99: #fffdf5;

  --color-neutral-90: #eaeaea;
  --color-neutral-95: #f1f1f3;
  --color-neutral-97: #f7f7f8;
  --color-neutral-99: #fcfcfd;

  --color-dark-10: #191919;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-30: #4c4c4d;
  --color-dark-35: #59595a;
  --color-dark-40: #656567;
  --color-dark-60: #98989a;
  --color-dark-70: #b3b3b3;

  --color-secondary-50: #eff6ff;
  --color-secondary-500: #3b82f6;
  --color-secondary-700: #1d4ed8;
}
